/*Formatação geral do html para uso alinhado das demais tags*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 200%;
    display: flex;
    flex-direction: column;
    font-family: system-ui, sans-serif;
}

body {
    flex: 1;
    overflow-x: hidden;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*Alteração do header (Imagem e Texto)*/
.header-image {
    height: 300px;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.2s ease, padding 0.2s ease; /*Codigo para efeito suave de scroll*/

}

.header-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

/* Efeito de transição */
.header-shrink {
    height: 200px;
    /*valor compacto */
    font-size: 15px;
}

.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1101;
}

.nav-item {
    border: 1;
}

.nav-item:hover{
    text-decoration: underline;

}

/*alteração do conteudo principal do html(Slides ao Footer)*/

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
    font-size: 50px;
}


.carousel {
    margin-top: 200px;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: rgb(0, 121, 16);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}


.container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #008000;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.row-mb-5, .row-mt-5{
    margin: 10%;
}

.card {
    padding: 2%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease;
    text-align: center;
    align-items: center;
}

.card-body {
    font-size: 1.25rem;
    color: rgb(0, 121, 16);
    font-weight: 600;
}

.imagem-card {
    width: 270px;
    height: 270px;
    object-fit: cover;
}



.custom-alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.custom-alert-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  animation: fadeIn 0.3s ease;
}

.custom-alert-content p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.custom-alert-content button {
  padding: 10px 20px;
  background-color: #007b00;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.button:hover {
    background-color: rgb(0, 2, 121);
}



footer {
    background-color: #008000;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100vw;
    font-size: 14px;
}